
<%- include('./partials/header'); -%>
<h1>HOME</h1>
<p>
    <%= content %>
    
</p>
<% post.forEach(function(p){%>
    <h2><%= p.title %></h2>
    <p><%= p.blogText.substring(0,100)+".."%><a href="/posts/<%=p._id%>" >Read More</a>
    </p>  
<%}); %>
<%- include('./partials/footer'); -%>   
 




